checkpoint/
data/
results/
models/
scripts/

results*.txt
*.pkl
__pycache__
resnet.py
autoaugment.py
random*.py
main_en.py
main_se.py
data_loader.py

*.sh
myprog.*

main_4k.py
autoaugment_extra_only_color.py
